@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~element-ui/lib/theme-chalk/index.css';
@import '~element-ui/lib/theme-chalk/display.css';

html {
    height: 100%;
}

body {
    min-height: 100%;
    color: #505050;
    margin: 0;
    padding: 0;
}

.bg {
    height: 100vh;
    background-image: url('/images/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    width: 330px;
    height: 100vh;
    padding: 30px;
    background-color: #fff;
}

.el-main {
    padding: 5px;
}

.el-card, .el-message {

    border-radius: 0;
}

.el-card__header {
    font-weight: bold;
    font-size: 20px;
}

.el-table {
    border-top: 1px solid #eee;
}

.el-icon-more {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

